# Sets

In [24]:
a = {}
type(a) #be default, python declares a as a dictionary.

dict

In [25]:
# To declare a set, we must use set() funtion as
b = set()
print(type(b))

<class 'set'>

In [26]:
print(b)

set()

In [27]:
b.add(23) #adding a single element

In [28]:
b

{23}

In [31]:
b.add('A')
b.add('B')
b.add('a')
b.add('b')
b.add('c')
b.add(19)
b.add(25)
b.add("Hello!!") #adding multiple elements

In [32]:
b

{19, 23, 25, 'A', 'B', 'Hello!!', 'a', 'b', 'c'}

In [33]:
cp = b.copy() #creating qa copy of the set
cp

{19, 23, 25, 'A', 'B', 'Hello!!', 'a', 'b', 'c'}

In [34]:
c = {"Hello!!", "Hi", 'a', 'A', 'X', 'y', 45, 63} #adding elements while declaring the set
type(c)

set

In [35]:
c

{45, 63, 'A', 'Hello!!', 'Hi', 'X', 'a', 'y'}

In [36]:
b - c

{19, 23, 25, 'B', 'b', 'c'}

In [37]:
b.difference(c)

{19, 23, 25, 'B', 'b', 'c'}

In [38]:
b.update([99, 98, 97])#adding multiple elements at once
b

{19, 23, 25, 97, 98, 99, 'A', 'B', 'Hello!!', 'a', 'b', 'c'}

In [39]:
b.discard('B') #delete an element if present in the set

In [40]:
b

{19, 23, 25, 97, 98, 99, 'A', 'Hello!!', 'a', 'b', 'c'}

In [42]:
c | b #union

{19, 23, 25, 45, 63, 97, 98, 99, 'A', 'Hello!!', 'Hi', 'X', 'a', 'b', 'c', 'y'}

In [43]:
c.union(b) #using union function

{19, 23, 25, 45, 63, 97, 98, 99, 'A', 'Hello!!', 'Hi', 'X', 'a', 'b', 'c', 'y'}

In [44]:
b & c #intersection

{'A', 'Hello!!', 'a'}

In [45]:
b.intersection(c) #using intersection function

{'A', 'Hello!!', 'a'}

In [47]:
b ^ c #symmetric difference
# Symmetric difference consists of the elements that are present only in one of the sets...

{19, 23, 25, 45, 63, 97, 98, 99, 'Hi', 'X', 'b', 'c', 'y'}

# Dictionary

In [49]:
#as seen above, python by default declares the variable as dictionary if declared with {}
a = {}
type(a)

dict

In [52]:
#alternate way to declare a dictionary
a = dict()
type(a)

dict

In [68]:
a = {"sr_no" : "1",
     "Name" : "Omkar",
     "Age" : "20",
     "Branch" : "Computer Engineering",
     "College" : "KJSIEIT"} #declaring a dictionary with key, value pairs
print(a)

{'sr_no': '1', 'Name': 'Omkar', 'Age': '20', 'Branch': 'Computer Engineering', 'College': 'KJSIEIT'}

In [69]:
#to iterate over the elements of a dictionary, use the items method
for key, value in a.items():
    print(key, value)

sr_no 1
Name Omkar
Age 20
Branch Computer Engineering
College KJSIEIT

In [70]:
#to access the value of a particular key, use dict_name[key]
a["sr_no"]

'1'

In [71]:
a["Name"]

'Omkar'

In [72]:
a["Age"]

'20'

In [73]:
a["Branch"]

'Computer Engineering'

In [74]:
a["College"]

'KJSIEIT'

In [75]:
a["Name"] = "Mayur" #change the value of element by accessing the key

In [76]:
a["Name"]

'Mayur'

In [77]:
# Add new key value pair
a["semester"] = 6

In [78]:
a

{'sr_no': '1',
 'Name': 'Mayur',
 'Age': '20',
 'Branch': 'Computer Engineering',
 'College': 'KJSIEIT',
 'semester': 6}

In [79]:
a.popitem() #deletes the last item from the dictionary

('semester', 6)

In [80]:
a

{'sr_no': '1',
 'Name': 'Mayur',
 'Age': '20',
 'Branch': 'Computer Engineering',
 'College': 'KJSIEIT'}

In [81]:
del a["Branch"] #deletes a particular key value pair from dictionary

In [82]:
a

{'sr_no': '1', 'Name': 'Mayur', 'Age': '20', 'College': 'KJSIEIT'}